{
  "hosting": {
    "type": "server",
    "framework": "flask",
    "version": "1.0",
    "plugins": ["python"],
    "buildCommand": "pip install -e .",
    "startCommand": "gunicorn --bind 0.0.0.0:8080 main:app",
    "healthCheckPath": "/",
    "appRoot": "/",
    "customRules": [
      {
        "source": "/",
        "target": "/index.html",
        "status": "200"
      },
      {
        "source": "/batch",
        "target": "/index.html",
        "status": "200"
      },
      {
        "source": "/<*>",
        "target": "/index.html",
        "status": "200"
      }
    ],
    "routes": [
      {
        "path": "/api/*",
        "target": "main:app",
        "type": "proxy"
      }
    ]
  }
}