{
  "hosting": {
    "type": "server",
    "framework": "flask",
    "version": "1.0",
    "plugins": ["python"],
    "buildCommand": "pip install -e .",
    "startCommand": "gunicorn --bind 0.0.0.0:8080 main:app",
    "healthCheckPath": "/",
    "appRoot": "/",
    "customRules": [],
    "routes": [
      {
        "path": "/*",
        "target": "main:app",
        "type": "proxy"
      }
    ]
  }
}